nav{
   

  background: #2c3e50;
  display: flex;  
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  
  .nav-content{
    width: 90vw;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    text-transform: uppercase;
    text-align: center;
    p{
      color: #fff;      
    }
    .nav-logo{
      font-size:1.25rem;
      font-weight: 700;
     
    }
    .nav-menu{
      display: none;
    }
    .nav-menu-mobile{
      color: #fff;
      background-color: #1abc9c;
      border-color: #1abc9c;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border-radius: .5rem;
    }
   
  }

    
}
@media(min-width:910px){
  nav{
   


    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    .nav-content{
     
     
      .nav-logo{
        font-size:1.75rem;      
       
      }
      .nav-menu{
        display: flex;
        font-size: 1rem;
        p{
          padding: 1rem;
          font-weight: 600;
        
        }
        
      }
      .nav-menu-mobile{
        display: none;
      }
    }
  
      
  }
}